In [1]:
#1.import library
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
df=pd.read_csv('dataset/ab_testing_dataset_100k.csv')
df

,user_id,variant,date,device,browser,country,page_view,click,add_to_cart,purchase,revenue,session_duration,impressions,traffic_source,gender,age
0,1,A,2025-01-09,Mobile,Chrome,TH,10,0,0,0,100000,122,1,TikTok Ads,M,20
1,2,B,2025-01-04,Tablet,Edge,ID,6,1,0,0,50000,325,24,Organic,F,21
2,3,A,2025-01-06,Mobile,Firefox,MY,4,0,0,0,200000,446,25,Google Ads,F,38
3,4,A,2025-01-24,Tablet,Safari,TH,2,1,1,0,50000,441,11,Organic,F,42
4,5,A,2025-01-26,Desktop,Edge,ID,5,0,0,0,100000,188,26,TikTok Ads,F,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,A,2025-01-11,Desktop,Chrome,ID,12,0,0,0,50000,177,26,TikTok Ads,F,47
99996,99997,B,2025-01-22,Desktop,Chrome,PH,5,0,0,1,100000,255,28,TikTok Ads,F,51
99997,99998,A,2025-01-20,Tablet,Firefox,SG,13,0,0,0,100000,205,28,Instagram,M,38
99998,99999,B,2025-01-02,Mobile,Chrome,TH,10,0,1,0,150000,559,18,Instagram,M,47
99999,100000,B,2025-01-08,Tablet,Safari,PH,10,0,0,0,250000,192,19,Instagram,F,22

In [3]:
df.columns

Index(['user_id', 'variant', 'date', 'device', 'browser', 'country',
       'page_view', 'click', 'add_to_cart', 'purchase', 'revenue',
       'session_duration', 'impressions', 'traffic_source', 'gender', 'age'],
      dtype='object')

In [4]:
df ['date'] = pd.to_datetime(df['date'],format='%Y-%m-%d')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           100000 non-null  int64
 1   variant           100000 non-null  object
 2   date              100000 non-null  datetime64[ns]
 3   device            100000 non-null  object
 4   browser           100000 non-null  object
 5   country           100000 non-null  object
 6   page_view         100000 non-null  int64
 7   click             100000 non-null  int64
 8   add_to_cart       100000 non-null  int64
 9   purchase          100000 non-null  int64
 10  revenue           100000 non-null  int64
 11  session_duration  100000 non-null  int64
 12  impressions       100000 non-null  int64
 13  traffic_source    100000 non-null  object
 14  gender            100000 non-null  object
 15  age               100000 non-null  int64
dtypes: datetime64[ns](1), int64(9), object(6)
memory usage: 12.2+ MB

In [6]:
df.duplicated().sum()

0

In [7]:
df.describe()

,user_id,date,page_view,click,add_to_cart,purchase,revenue,session_duration,impressions,age
count,100000.000000,100000,100000.000000,100000.000000,100000.000000,100000.000000,100000.0000,100000.000000,100000.000000,100000.000000
mean,50000.500000,2025-01-15 12:14:34.367999744,7.484790,0.299250,0.150640,0.070610,124799.0000,314.640710,14.975070,36.049640
min,1.000000,2025-01-01 00:00:00,1.000000,0.000000,0.000000,0.000000,0.0000,30.000000,1.000000,18.000000
25%,25000.750000,2025-01-08 00:00:00,4.000000,0.000000,0.000000,0.000000,50000.0000,172.000000,8.000000,27.000000
50%,50000.500000,2025-01-15 00:00:00,7.000000,0.000000,0.000000,0.000000,100000.0000,315.000000,15.000000,36.000000
75%,75000.250000,2025-01-23 00:00:00,11.000000,1.000000,0.000000,0.000000,200000.0000,457.000000,22.000000,45.000000
max,100000.000000,2025-01-30 00:00:00,14.000000,1.000000,1.000000,1.000000,250000.0000,599.000000,29.000000,54.000000
std,28867.657797,NaN,4.030701,0.457932,0.357699,0.256174,85376.7093,164.450137,8.356514,10.668443

In [8]:
df.isna().sum()

user_id             0
variant             0
date                0
device              0
browser             0
country             0
page_view           0
click               0
add_to_cart         0
purchase            0
revenue             0
session_duration    0
impressions         0
traffic_source      0
gender              0
age                 0
dtype: int64

In [9]:
import numpy as np
from scipy import stats

numerik = df.select_dtypes(include=['number']).columns.tolist()
kategori = df.select_dtypes(exclude=['number']).columns.tolist()

In [10]:
Q1 = df[numerik ].quantile(0.25)
Q3 = df[numerik ].quantile(0.75)
IQR= Q3-Q1
#tentukan batas bawah dan atas

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

df_outlier = df[((df[numerik]< lower_bound) | (df[numerik]>upper_bound)).any(axis=1)]

print('data outlier :', df_outlier.shape[0],"baris")

data outlier : 21050 baris

In [11]:
df_no_outlier = df[~((df[numerik]< lower_bound) | (df[numerik]>upper_bound)).any(axis=1)]

#kedepannya memakai df_no_outlier
print ('data sebelum :',df.shape[0],'baris')
print ('data sesudah :',df_no_outlier.shape[0],'baris')

data sebelum : 100000 baris
data sesudah : 78950 baris

In [12]:
def age_bucket(age):
    if age < 25: return "young"
    elif age < 35: return "adult"
    else: return "mature"

df['age_bucket'] = df['age'].apply(age_bucket)
df

,user_id,variant,date,device,browser,country,page_view,click,add_to_cart,purchase,revenue,session_duration,impressions,traffic_source,gender,age,age_bucket
0,1,A,2025-01-09,Mobile,Chrome,TH,10,0,0,0,100000,122,1,TikTok Ads,M,20,young
1,2,B,2025-01-04,Tablet,Edge,ID,6,1,0,0,50000,325,24,Organic,F,21,young
2,3,A,2025-01-06,Mobile,Firefox,MY,4,0,0,0,200000,446,25,Google Ads,F,38,mature
3,4,A,2025-01-24,Tablet,Safari,TH,2,1,1,0,50000,441,11,Organic,F,42,mature
4,5,A,2025-01-26,Desktop,Edge,ID,5,0,0,0,100000,188,26,TikTok Ads,F,40,mature
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,A,2025-01-11,Desktop,Chrome,ID,12,0,0,0,50000,177,26,TikTok Ads,F,47,mature
99996,99997,B,2025-01-22,Desktop,Chrome,PH,5,0,0,1,100000,255,28,TikTok Ads,F,51,mature
99997,99998,A,2025-01-20,Tablet,Firefox,SG,13,0,0,0,100000,205,28,Instagram,M,38,mature
99998,99999,B,2025-01-02,Mobile,Chrome,TH,10,0,1,0,150000,559,18,Instagram,M,47,mature
99999,100000,B,2025-01-08,Tablet,Safari,PH,10,0,0,0,250000,192,19,Instagram,F,22,young

In [13]:
df['device_browser'] = df['device'] + "_" + df['browser']

df['is_mobile'] = df['device'].isin(['Mobile']).astype(int)
df

,user_id,variant,date,device,browser,country,page_view,click,add_to_cart,purchase,revenue,session_duration,impressions,traffic_source,gender,age,age_bucket,device_browser,is_mobile
0,1,A,2025-01-09,Mobile,Chrome,TH,10,0,0,0,100000,122,1,TikTok Ads,M,20,young,Mobile_Chrome,1
1,2,B,2025-01-04,Tablet,Edge,ID,6,1,0,0,50000,325,24,Organic,F,21,young,Tablet_Edge,0
2,3,A,2025-01-06,Mobile,Firefox,MY,4,0,0,0,200000,446,25,Google Ads,F,38,mature,Mobile_Firefox,1
3,4,A,2025-01-24,Tablet,Safari,TH,2,1,1,0,50000,441,11,Organic,F,42,mature,Tablet_Safari,0
4,5,A,2025-01-26,Desktop,Edge,ID,5,0,0,0,100000,188,26,TikTok Ads,F,40,mature,Desktop_Edge,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,A,2025-01-11,Desktop,Chrome,ID,12,0,0,0,50000,177,26,TikTok Ads,F,47,mature,Desktop_Chrome,0
99996,99997,B,2025-01-22,Desktop,Chrome,PH,5,0,0,1,100000,255,28,TikTok Ads,F,51,mature,Desktop_Chrome,0
99997,99998,A,2025-01-20,Tablet,Firefox,SG,13,0,0,0,100000,205,28,Instagram,M,38,mature,Tablet_Firefox,0
99998,99999,B,2025-01-02,Mobile,Chrome,TH,10,0,1,0,150000,559,18,Instagram,M,47,mature,Mobile_Chrome,1
99999,100000,B,2025-01-08,Tablet,Safari,PH,10,0,0,0,250000,192,19,Instagram,F,22,young,Tablet_Safari,0

In [14]:
rata_usia_session_duration = df_no_outlier.groupby('age')['session_duration'].mean().reset_index()
rata_usia_session_duration

    age  session_duration
0    18        316.321377
1    19        321.152011
2    20        321.024656
3    21        311.029264
4    22        306.081418
5    23        320.295206
6    24        314.230843
7    25        309.756109
8    26        316.681840
9    27        310.625636
10   28        312.938852
11   29        313.453594
12   30        312.850975
13   31        316.344398
14   32        311.806781
15   33        312.710721
16   34        317.392541
17   35        311.370991
18   36        310.367890
19   37        314.863745
20   38        316.585796
21   39        320.163196
22   40        312.854302
23   41        313.991743
24   42        318.466042
25   43        308.465236
26   44        316.247456
27   45        310.814917
28   46        322.426654
29   47        318.638127
30   48        321.756153
31   49        316.661553
32   50        309.517972
33   51        315.187650
34   52        308.810038
35   53        309.390068
36   54        314.978220

In [15]:
deskripsi_gender = df_no_outlier.groupby('gender')['page_view'].agg(['mean','min','max','count',]).reset_index()
deskripsi_gender

  gender      mean  min  max  count
0      F  7.464502    1   14  39354
1      M  7.497070    1   14  39596

In [22]:
df.to_csv('MINPRO4.csv',index=False)
print('File:MINPRO4.csv')

File:MINPRO4.csv